[submodule "kicad-symbols"]
	path = kicad-symbols
	url = https://gitlab.com/kicad/libraries/kicad-symbols.git
[submodule "kicad-footprints"]
	path = kicad-footprints
	url = https://gitlab.com/kicad/libraries/kicad-footprints
[submodule "kicad-packages3D"]
	path = kicad-packages3D
	url = https://gitlab.com/kicad/libraries/kicad-packages3D
